body{
    background-color: rgb(220, 234, 220);
}

.error {
    display: none;
    color: red;
    margin-left: 20px;
}
.show-error {
    display: block !important;
    color: red;
    margin-left: 20px;
}

input {
    border-radius: 5px;
    width: 30%;
    padding: 10px;
    margin: 15px;
    box-shadow: 10px 5px 5px grey;
}
input:hover {
    background-color: antiquewhite;
}

textarea {
    border-radius: 5px;
    width: 60%;
    height: 40%;
    padding: 10px;
    margin: 20px;
    box-shadow: 10px 5px 5px grey;
}
textarea:hover {
    background-color:antiquewhite;
}

button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 16px 25px;
    margin: 20px;
    display:block;
}
button:hover {
     background-color:antiquewhite;
}

#create-testimonials {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 20px;
}

h3, span {
    margin: 25px 20px;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.div-comment {
    margin: 20px;
    font-size: 20px;
    border-bottom: dashed;
}