body{
    background-color: rgb(177, 232, 239);
    margin: auto; 
    width: 70%; 
    padding: 20px;
}

.error {
    display: none;
    color: red;
    margin-left: 20px;
}
.show-error {
    display: block !important;
    color: red;
    margin-left: 20px;
}

input {
    border-radius: 5px;
    width: 30%;
    padding: 10px;
    margin: 15px;
    box-shadow: 10px 5px 5px rgb(173, 173, 173);
}
input:hover {
    background-color: antiquewhite;
}

textarea {
    border-radius: 5px;
    width: 30%;
    height: 40%;
    padding: 10px;
    margin: 20px;
    box-shadow: 10px 5px 5px rgb(173, 173, 173);
}
textarea:hover {
    background-color:antiquewhite;
}

button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 16px 25px;
    margin: 20px;
    display:block;
}
button:hover {
     background-color:antiquewhite;
}

#create-testimonials {
    width: 600px;
}

.date {
    margin: 20px;
}

.titleName {
    padding-top: 10px;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div-comment {
    margin: 20px;
    font-size: 20px;
    padding-bottom: 10px;  
}

article {
    background-color:rgb(234, 253, 247);
    border-radius:10px;
    box-shadow: 10px 5px 5px rgb(173, 173, 173);
}
